.wrapper {
  .inputWrapper {
    display: flex;
    .input {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
    .pickColor {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-grow: 1;
    }
  }
  .color {
    width: 20px;
    height: 20px;
    margin-left: 8px;
  }
  .preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    .wordWrapper {
      width: 100px;
      height: 100px;
      border: 1px solid black;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .submit {
      margin-top: 30px;
    }
  }
}
