.card {
  border-radius: 50%;
  width: 336px;
  height: 336px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0, 0, 0, .4);
  &.active {
    overflow: visible;
  }
  .cardNumber {
    font-size: 16px;
    position: absolute;
    left: 50%;
    top: 88%;
    transform: translate(-50%, 50%);
    z-index: 10;
  }
}
