.wrapper {
  outline: none;
  position: absolute;
  cursor: move;
  display: inline-flex;
  user-select: none;
    img {
      height: 100%;
    }
    .rotate {
      display: none;
    }
    &.active {
      display: inline-flex;
      outline: 1px solid black;
      z-index: 1;
    }
}
