@import "../../vars";

.mainContent {
  section {
    min-height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
  }
  .intro {
    //padding-top: 64px;
    margin-top: -64px;
    background: url(./study.png) center;
    background-size: cover;
    display: flex;
    .content {
      flex-grow: 1;
      background: rgba(32, 44, 45, 0.65);
      padding-top: 20%;
      .container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
      }
      h1, h3 {
        color: white;
        text-align: center;
        max-width: 80%;
        line-height: 1.3em;
      }
      @include smDown {
        h1 {
          font-size: 70px;
        }
        h3 {
          font-size: 30px;
        }
      }
    }
  }
  .whatIsIt{
    background-color: #fdfdfd;
    padding: 10% 0;
    color: #1c1c1c;
    position: relative;
    .content {
      display: flex;
      align-items: center;
    }
    @keyframes write {
      from {
        left: 5%;
      }
      5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85% {
        transform: rotate(-10deg);
      }
      10%, 20%, 30%, 40%, 50%, 60%, 70%, 80% {
        transform: rotate(0deg);
      }
      85% {
        left: 80%;
      }
      to {
        left: 5%;
      }
    }
    .gears {
      position: absolute;
      bottom: 20px;
      opacity: .5;
      width: 150px;
      max-width: 40%;
      animation: write 2s infinite ease-in-out;
    }
    h2 {
      margin-bottom: 50px;
    }
    .actionWrapper {
      text-align: center;
      .action {
        @extend %bigButton;
        color: white;
        background: $mainColor;
        margin-top: 50px;
        align-self: center;
      }
    }
    @include smDown {
      h2 {
        font-size: 35px;
      }
      p {
        font-size: 18px;
      }
      .gears {
        bottom: unset;
        top: 20px;
        width: 105px;
        animation: unset;
      }
    }
  }
  .readyDecks {
    background: #e2e2e2;
    padding: 5% 0;
    h3 {
      text-align: center;
    }
  }
}