@import "../../../vars";

h4 {
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-row-gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  justify-items: center;
}

.actionPanel {
  width: 100%;
  background-color: #fff;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  position: sticky;
  bottom: 0;
  margin-top: 30px;
}

.notification {
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error {
  color: red;
}
