@import "../../../vars";

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.save {
  position: fixed !important;
  right: 20px;
  bottom: $footerHeight + 20px;
}

.actionPanel {
  width: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
}
