@import "../../vars";

.container {
  @extend %wrapper;
  .paper {
    @extend %paper;
    h3 {
      text-align: center;
    }
    .search {
      display: flex;
      justify-content: center;
    }
    .users {
      display: flex;
      flex-direction: column;
      align-items: center;
      .user {
        margin: 10px 0;
        padding: 15px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .deckCount {
          margin-right: 15px;
          color: $disabledColor;
        }
      }
    }

    .empty {
      text-align: center;
      color: $disabledColor;
      margin: 20px 0;
    }

    .add {
      position: fixed;
      bottom: $footerHeight + 20px;
      right: 20px;
      z-index: 10;
    }
  }
}
