@import "../../vars";

.header {
  background-color: rgba(0, 0, 0, .8) !important;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .toggleMenu {
      color: white;
    }
    .leftPart {
      display: flex;
      align-items: center;
      .logo {
        width: 150px;
        height: 100%;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;

        img {
          width: 100%;
        }
      }

      .linkWrapper {
        height: 100%;
        display: inline-flex;
        justify-content: center;

        .link {
          padding: 5px 15px;
          color: white;
          font-size: 20px;
          text-decoration: none;
          display: flex;
          align-items: center;
          border-radius: 3px;
          &.active {
            color: darken($mainColor, 10%);
          }
          &:hover {
            background: rgba(0, 0, 0, .08);
          }
        }
      }
    }
    .rightPart {
      color: white;
    }
  }
}
.dropDownMenu {
  .link {
    color: #1c1c1c;
  }
}
