@import "../../vars";


.wrapper {
  @extend %wrapper;
  .paper {
    @extend %paper;
    .decks {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 15px;
      @include mdDown {
        grid-template-columns: 1fr 1fr;
      }
    }
    h3 {
      text-align: center;
    }
    .emptyProjects {
      color: $disabledColor;
      text-align: center;
      font-size: 20px;
    }
  }
}
