@mixin smDown {
  @media screen and (max-width: 600px) {
    @content;
  }
}

$mainColor: #53d45a;

%bigButton {
  border-width: 2px;
  font-size: 25px;
  @include smDown {
    font-size: 20px;
  }
}
/*
lg: 1280
md: 960
sm: 600
xl: 1920
xs: 0
*/
