.wrapper {
  position: relative;
  .spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .3);
    border-radius: 10px;
    z-index: 10;
  }
  .add {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    grid-column-gap: 30px;
    .fromText {
      margin-top: 40px;
    }
    h4 {
      text-align: center;
    }
  }
  .divider {
    margin-bottom: 30px;
  }
  .uploaded {
    h4 {
      text-align: center;
    }
    .imageWrapper {
      display: grid;
      grid-template-rows: repeat(auto-fill, 190px);
      grid-template-columns: repeat(auto-fill, 170px);
      grid-gap: 15px;
      justify-content: center;
      margin-top: 30px;
      .image {
        width: 150px;
        height: 150px;
        display: inline-block;
        margin-right: 30px;
        position: relative;
        border-radius: 3px;
        overflow: hidden;
        .settings {
          display: none;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: rgba(0, 0, 0, .5);
          cursor: pointer;
          .settingIcon {
            color: #c3c3c3;
            font-size: 50px;
          }
        }
        &:hover {
          .settings {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        img {
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
