.wrapper {
  margin-top: 30px;
  .add {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    grid-column-gap: 30px;
    .fromText {
      margin-top: 40px;
    }
    h4 {
      text-align: center;
    }
  }
  .uploaded {
    margin-top: 30px;
    h4 {
      text-align: center;
    }
    .imageWrapper {
      .image {
        width: 150px;
        height: 150px;
        display: inline-block;
        margin-right: 30px;
        position: relative;
        border-radius: 3px;
        overflow: hidden;
        .settings {
          display: none;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: rgba(0, 0, 0, .5);
          cursor: pointer;
          .settingIcon {
            color: #c3c3c3;
            font-size: 50px;
          }
        }
        &:hover {
          .settings {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        img {
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
